.merchSection {
    padding: 4rem 2rem;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1rem;
}

.merchContent {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.merchImage {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
} 